*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;
    padding: 12px 0px;
}

.nav-links {
    display: flex;
    font-family: "Arimo", sans-serif;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: #575757;
   
}

.btn-style{
   background-color: #1d4ed8;
   color: white;
   border: none;
   width: 192px;
   border-radius: 12px;
   padding: 12px;
   font-weight: bold;
   cursor: pointer;

}
.main{
  font-family: "Inter", sans-serif;
}

.banner-inner{
    text-align: center;
    color: rgba(255, 0, 0, 0.579);
}
.banner img {
    width: 100%;
    filter: brightness(50%);
 
}

.banner h2{
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -3.2px;
}

.banner p {
    margin: 15px 0 25px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
}

.speakers_sec{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 80px 60px;
    row-gap: 56px;

}
img{
    border-radius: 12px 12px 0px 0px;
}

.speakersHead h1 {
    font-size: 56px;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* border-radius: 10px; */
}

.employee {
    /* padding: 20px; */
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}
.bio{  
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 24px;

}
.speakers-head{
    height: 65px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1500000272478377;
}
.bio h2{
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
}
.department{
    color: #2563EB;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}
.designation{
    color: #575757FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}